<!DOCTYPE html>
<html>
    <head>
		<link rel= "stylesheet" href= "{{ url_for('static',filename='styles/GraficaSito.css') }}">
        {% block titolo %}          
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="header-container" >
                <img src="{{url_for('static', filename='imgs/logo.png')}}" class="imgtitle" />
                <div class="btn-container">
                    {% if isProfessor==False %}
                        <button type="button"  class="menubtn" onclick="location.href = 'listaCorsi';">Lista corsi </button>
                        <button type="button"  class="menubtn" onclick="location.href = 'iTuoiCorsi';">I tuoi corsi</button>
                        <button type="button"  class="menubtn" onclick="location.href = 'calendario';">Calendario</button>
                        <button type="button"  class="menubtn" onclick="location.href = 'profilo';">Profilo</button>
                    {% else %}
                        <button type="button"  class="menubtn" onclick="location.href = 'listaCorsi';" >Lista corsi</button>
                        <button type="button"  class="menubtn" onclick="location.href = 'gestisciCorsi';">Gestisci corsi</button>
                        <button type="button"  class="menubtn" onclick="location.href = 'creaCorso';">Crea Corso</button>
                        <button type="button"  class="menubtn" onclick="location.href = 'profilo';">Profilo</button>
                    {% endif %}
                </div>

            </div>
        </header>

        <div class="body">
		
            {% block contenuto %}          
            {% endblock %}
        </div>
        
    </body>
</html>
