{% extends "parents/defaultPage.html" %}

{% block titolo %}
    <title>Benvenuto</title>
{% endblock %}


{% block contenuto %}
<div class="benv-div">

    <img src="{{url_for('static', filename='imgs/logored.png')}}" class="imgtitle" />
    <h1>Benvenuto {{user}}!</h1> 
    <div>
        <a href="listaCorsi"> Lista Corsi</a>
        <a href="profilo"> Profilo</a>
        {% if isProfessor==False %}
        <a href="calendario"> Calendario </a>
        {% else %}
        <a href="creaCorso"> Crea Corso</a>
        {% endif %}
    </div>
</div>    

{% endblock %}