{% extends "parents/defaultPage.html" %}

{% block titolo %}
    <title>Calendario</title>
{% endblock %}


{% block contenuto %}
    <h1> Calendario lezioni</h1>
    
    {% if richiedi==True %}
    <div id = "popup" class="popup2" style="display: block;">
    {% else %}
    <div id = "popup" class="popup2" style="display: none;">
    {% endif %}
        <div class="overlay"></div>
        <div class="content">
            <div class="close-btn" onclick="server.togglePopup('popup')">&times;</div>
            <h2>Codice di conferma</h2>
            <p> Inserisci il codice fornito dal docente </p>
            <form method='POST' action='calendario'>
                <input type="text"  class="calendar-day" name="secret" id="secret" required="yes">
                <button type="submit" class="ok-btn" >Ok</button>
            </form>
        </div>
    </div>

    {% if errore==True or successo==True %}
    <div id = "popup2" class="popup2" style="display: block;">
    {% else %}
    <div id = "popup2" class="popup2" style="display: none;">
    {% endif %}
        <div class="overlay"></div>
        <div class="content">
            <div class="close-btn" onclick="server.togglePopup('popup2')">&times;</div>
            <h2>Codice di conferma</h2>
            {% if errore==True %}
                <p> Errore: il codice inserito è errato.</br></br> Per confermare la partecipazione alla lezione è necessario inserire il codice fornito dal docente </p>
            {% else %}
                <p> Codice inserito corretto.</br></br> La tua partecipazione alla lezione è stata confermata </p>
            {% endif %}
            <div class="ok-btn" onclick="server.togglePopup('popup2')">Ok</div>
        </div>
    </div>
    
    <div class="div-data-calendario">
        <label  class="label1">Seleziona il giorno </label><br>
        <form method='POST' action='calendario'>
            <input type="date"  class="calendar-day" name="date" id="date" required="yes">
            <button type="submit" class="btnSetDate" onclick="" >Vai</button>
        </form>
    </div>
    <div class="div-giorno-selezionato">
        <h2> {{data}}</h2>
    </div>

    <div class="divListaLezioni">
        <table class="elencoCorsi">
            <colgroup>
                <col style="width: 16%">
                <col style="width: 17%">
                <col style="width: 28%">
                <col style="width: 12%">
                <col style="width: 16%">
                <col style="width: 11%">
            </colgroup>
            <thead>
                <tr>
                    <th> Orari </th>
                    <th> Struttura </th>
                    <th> Titolo del progetto </th>
                    <th> Aula </th>
                    <th> Professore </th>
                    <th> Presenza </th>
                </tr>
            </thead>
            <tbody>
                {% if info != None and info|length != 0 %}
                    {% for lezione in info %}
                    <tr>
                        <td> <h4> Inizio: {{ lezione.inizio }}<br> Fine: {{ lezione.fine }}</h4></td>
                        <td> {{ lezione.struttura }} </td>
                        <td> {{ lezione.nome }} </td>
                        <td> {{ lezione.aula }} </td>
                        <td> {{ lezione.prof }} </td>
                        <td> 
                            
                            {% if lezione.HaPartecipato==False %}
                            <form method='POST' action='calendario'> 
                                <button class="btnLezione" name="idLezione" value={{lezione.id}}>Conferma</button> 
                            </form>
                            {% else %}
                                <button class="btnLezione2" name="idLezione" >Confermata</button> 
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% if info == None or info|length == 0 %}
                <h2 style="text-align: center;"> Nessuna lezione </h2>
        {%endif%}
    </div>
{% endblock %}
