{% extends "parents/defaultPage.html" %}

{% block titolo %}
    <title>Calendario</title>
{% endblock %}


{% block contenuto %}
    <h1> Calendario lezioni</h1>
    <div class="div-data-calendario">
        <label  class="label1">Seleziona il giorno </label><br>
        <input type="date"  class="calendar-day" required="yes">
        <button type="submit" class="btnSetDate" onclick="" >Vai</button>
    </div>
    <div class="div-giorno-selezionato">
        <h2> 11 Maggio 2021 </h2>
    </div>

    <div class="divListaLezioni">
        <table class="elencoCorsi">
            <colgroup>
                <col style="width: 16%">
                <col style="width: 17%">
                <col style="width: 28%">
                <col style="width: 12%">
                <col style="width: 16%">
                <col style="width: 11%">
            </colgroup>
            <thead>
                <tr>
                    <th> Orari </th>
                    <th> Struttura </th>
                    <th> Titolo del progetto </th>
                    <th> Aula </th>
                    <th> Professore </th>
                    <th> Conferma </th>
                </tr>
            </thead>
            <tbody>
                {% for lezione in info %}
                <tr>
                    <td> <h4> Inizio: {{ lezione.inizio }}<br> Fine: {{ lezione.fine }}</h4></td>
                    <td> {{ lezione.struttura }} </td>
                    <td> {{ lezione.nome }} </td>
                    <td> {{ lezione.aula }} </td>
                    <td> {{ lezione.prof }} </td>
                    <td> <button class="btnLezione">Conferma</button>  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
