{% extends "parents/defaultPage.html" %}

{% block titolo %}
    <title>Creazione corso</title>
{% endblock %}


{% block contenuto %}
    <h1> Creazione corso</h1>
    <div class="div-form-creazione">
        <form method="POST">
            <div class="column">
            
                <div class="div-textbox">
                    <label  class="label1">Nome del corso</label><br>
                    <input type="text" class="input-label-1" id="name" required="yes">
                </div>
                <div class="column-drop">
                    <div class="div-textbox">
                        <label  class="label1">Edificio</label><br>
                        <select name="edificio" class="input-dropdown-1" id="edificio" onchange="server.updateAulaDrop()" required>
                            <option value="" selected disabled hidden>Seleziona</option>
                            {% for edificio in diz.keys() %}
                                <option value="{{edificio}}">{{edificio}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="column-drop">
                    <div class="div-textbox">
                        <label  class="label1">Aula</label><br>
                        <select name="aula" class="input-dropdown-1" id="aula" disabled required>
                            <option value="" selected disabled hidden >Seleziona</option>
                            {% for i in range(0, 20) %}
                                <option id={{i}} value="{{i}}" style="display: none;" >{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="div-num">
                    <label class="label1">Numero di partecipanti</label><br>
                    <label class="label1">Minimo</label>
                    <input type="number" class="input-number-1" id="num-min" min="1" max="999" value="0">
                    <label class="label1">Massimo</label>
                    <input type="number" class="input-number-1" id="num-max" min="1" max="999" value="0">
                </div>
                <div class="div-textbox">
                    <label class="label1">Tipologia </label>
                    <select name="tipologia" class="input-dropdown-1" id="type">
                        <option value="presenza">In Presenza</option>
                        <option value="online">Online</option>
                    </select>
                </div>
                <div class="div-textbox">
                    <label  class="label1">Breve descrizione   (max 300 lettere)</label><br>
                    <textarea class="input-label-2" rows="5" id = "description" maxlength="300" required="yes"></textarea><br>
                </div>
                <div class="div-checkbox">
                    <label class="container-check">Aprire le iscrizioni da subito?
                        <input type="checkbox" id="Check1">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="divider"></div>
            <div class="column">
                <label  class="label1">Giorni di lezione</label><br>
                <div class="div-checkbox">
                    <label class="container-settimana">
                        <input type="checkbox" id="Check1" onclick="server.showOrHide('lun')">
                        <span class="checkmarksettimana">Lun</span>
                    </label>
                    <label class="container-settimana">
                        <input type="checkbox" id="Check1" onclick="server.showOrHide('mar')">
                        <span class="checkmarksettimana">Mar</span>
                    </label>
                    <label class="container-settimana">
                        <input type="checkbox" id="Check1" onclick="server.showOrHide('mer')">
                        <span class="checkmarksettimana">Mer</span>
                    </label>
                    <label class="container-settimana">
                        <input type="checkbox" id="Check1" onclick="server.showOrHide('gio')">
                        <span class="checkmarksettimana">Gio</span>
                    </label>
                    <label class="container-settimana">
                        <input type="checkbox" id="Check1" onclick="server.showOrHide('ven')">
                        <span class="checkmarksettimana">Ven</span>
                    </label>
                    <label class="container-settimana">
                        <input type="checkbox" id="Check1" onclick="server.showOrHide('sab')">
                        <span class="checkmarksettimana">Sab</span>
                    </label>
                </div>
                <div class="div-textbox">
                    <label  class="label1" id="firstWeek">Prima settimana</label><br>
                    <input type="week"  class="dropdown-week" required="yes"><br>
                </div>
                <div class="div-textbox">
                    <label  class="label1" id="lastWeek">Ultima settimana</label><br>
                    <input type="week"  class="dropdown-week" required="yes"><br>
                </div>
                <label  class="label2" id="timeStart">Orari</label><br>
                <label  class="label1" id="almenoUnGiorno">Selezionare almeno un giorno </label>
                <div class="div-time" id = "lun">
                    <label  class="label3" id="timeStart">Lun:</label>
                    <select name="orariolun" class="input-dropdown-2" id="orariolun">
                        <option value="" selected disabled hidden>Seleziona Orario</option>
                        <option value="1">Da:  8:00 A:  9:30</option>
                        <option value="2">Da:  9:30 A: 11:00</option>
                        <option value="3">Da: 11:00 A: 12:30</option>
                        <option value="4">Da: 12:30 A: 14:00</option>
                        <option value="5">Da: 14:00 A: 15:30</option>
                        <option value="6">Da: 15:30 A: 17:00</option>
                    </select>
                </div>
                <div class="div-time" id = "mar">
                    <label  class="label3" id="timeStart">Mar:</label>
                    <select name="orariomar" class="input-dropdown-2" id="orariomar">
                        <option value="" selected disabled hidden>Seleziona Orario</option>
                        <option value="1">Da:  8:00 A:  9:30</option>
                        <option value="2">Da:  9:30 A: 11:00</option>
                        <option value="3">Da: 11:00 A: 12:30</option>
                        <option value="4">Da: 12:30 A: 14:00</option>
                        <option value="5">Da: 14:00 A: 15:30</option>
                        <option value="6">Da: 15:30 A: 17:00</option>
                    </select>
                </div>
                <div class="div-time" id = "mer">
                    <label  class="label3" id="timeStart">Mer:</label>
                    <select name="orariomer" class="input-dropdown-2" id="orariomer">
                        <option value="" selected disabled hidden>Seleziona Orario</option>
                        <option value="1">Da:  8:00 A:  9:30</option>
                        <option value="2">Da:  9:30 A: 11:00</option>
                        <option value="3">Da: 11:00 A: 12:30</option>
                        <option value="4">Da: 12:30 A: 14:00</option>
                        <option value="5">Da: 14:00 A: 15:30</option>
                        <option value="6">Da: 15:30 A: 17:00</option>
                    </select>
                </div>
                <div class="div-time" id = "gio">
                    <label  class="label3" id="timeStart">Gio:</label>
                    <select name="orariogio" class="input-dropdown-2" id="orariogio">
                        <option value="" selected disabled hidden>Seleziona Orario</option>
                        <option value="1">Da:  8:00 A:  9:30</option>
                        <option value="2">Da:  9:30 A: 11:00</option>
                        <option value="3">Da: 11:00 A: 12:30</option>
                        <option value="4">Da: 12:30 A: 14:00</option>
                        <option value="5">Da: 14:00 A: 15:30</option>
                        <option value="6">Da: 15:30 A: 17:00</option>
                    </select>
                </div>
                <div class="div-time" id = "ven">
                    <label  class="label3" id="timeStart">Ven:</label>
                    <select name="orarioven" class="input-dropdown-2" id="orarioven">
                        <option value="" selected disabled hidden>Seleziona Orario</option>
                        <option value="1">Da:  8:00 A:  9:30</option>
                        <option value="2">Da:  9:30 A: 11:00</option>
                        <option value="3">Da: 11:00 A: 12:30</option>
                        <option value="4">Da: 12:30 A: 14:00</option>
                        <option value="5">Da: 14:00 A: 15:30</option>
                        <option value="6">Da: 15:30 A: 17:00</option>
                    </select>
                </div>
                <div class="div-time" id = "sab">
                    <label  class="label3" id="timeStart">Sab:</label>
                    <select name="orariosab" class="input-dropdown-2" id="orariosab">
                        <option value="" selected disabled hidden>Seleziona Orario</option>
                        <option value="1">Da:  8:00 A:  9:30</option>
                        <option value="2">Da:  9:30 A: 11:00</option>
                        <option value="3">Da: 11:00 A: 12:30</option>
                        <option value="4">Da: 12:30 A: 14:00</option>
                        <option value="5">Da: 14:00 A: 15:30</option>
                        <option value="6">Da: 15:30 A: 17:00</option>
                    </select>
                </div>


                <button type="submit" class="btnCrea" >Crea corso</button>
            </div>
        </form>
    </div>
{% endblock %}
