{% extends "parents/defaultPage.html" %}

{% block titolo %}
    <title>Creazione corso</title>
{% endblock %}


{% block contenuto %}
    <h1> Creazione corso</h1>
    {% if collisioni == None or collisioni|length < 1 %}
    <div id = "popup1" class="popup" style="display: none;">
    {% else %}
    <div id = "popup1" class="popup" style="display: block;">
    {% endif %}
        <div class="overlay"></div>
        <div class="content">
            <div class="close-btn" onclick="server.togglePopup('popup1')">&times;</div>
            <h2>Attenzione</h2>
            <p> Non è stato possibile creare il corso poichè l'aula selezionata risulta essere già occupata nei seguenti giorni e fasce orarie</p>
            <textarea class="text-occupate">
{% for item in collisioni %}
Il: {{item[0][0]}} Dalle: {{item[0][1]}} Alle: {{item[0][2]}}
{% endfor %}
            </textarea>
        </div>
    </div>

    {% if errore == 1 %}
    <div id = "popup2" class="popup2" style="display: block;">
    {% else %}
    <div id = "popup2" class="popup2" style="display: none;">
    {% endif %}
        <div class="overlay"></div>
        <div class="content">
            <div class="close-btn" onclick="server.togglePopup('popup2')">&times;</div>
            <h2>Attenzione</h2>
            <p> Non è stato possibile creare il corso poichè le informazioni inserite risultano essere incorrette o incomplete.</p>
            <div class="ok-btn" onclick="server.togglePopup('popup2')">Ok</div>
        </div>
    </div>

    {% if riuscito == 1 %}
    <div id = "popup3" class="popup2" style="display: block;">
    {% else %}
    <div id = "popup3" class="popup2" style="display: none;">
    {% endif %}
        <div class="overlay"></div>
        <div class="content">
            <div class="close-btn" onclick="server.togglePopup('popup3')">&times;</div>
            <h2>Attenzione</h2>
            <p> Corso creato correttamente!<br> Entra nella pagina gestione corsi per gestire e tenere traccia dello stato del tuo corso.</p>
            <div class="ok-btn" onclick="server.togglePopup('popup3')">Ok</div>
        </div>
    </div>

    <div class="div-form-creazione">
        <form method="POST">
            <div class="column">
            
                <div class="div-textbox">
                    <label  class="label1">Nome del corso</label><br>
                    <input type="text" class="input-label-1" name="name" required="yes">
                </div>
                <div class="column-drop">
                    <div class="div-textbox">
                        <label  class="label1">Edificio</label><br>
                        <select name="edificio" class="input-dropdown-1" id="edificio" onchange="server.updateAulaDrop()" required>
                            <option value="" selected disabled hidden>Seleziona</option>
                            {% for edificio in diz.keys() %}
                                <option value="{{edificio}}">{{edificio}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="column-drop">
                    <div class="div-textbox">
                        <label  class="label1">Aula</label><br>
                        <select name="aula" class="input-dropdown-1" id="aula" disabled required>
                            <option value="" selected disabled hidden >Seleziona</option>
                            {% for i in range(0, 20) %}
                                <option id={{i}} value="{{i}}" style="display: none;" >{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="div-num">
                    <label class="label1">Numero di partecipanti</label><br>
                    <label class="label1">Minimo</label>
                    <input type="number" class="input-number-1" name="num-min" min="1" max="999" value="0">
                    <label class="label1">Massimo</label>
                    <input type="number" class="input-number-1" name="num-max" min="1" max="999" value="0">
                </div>
                <div class="div-textbox">
                    <label class="label1">Tipologia </label>
                    <select name="tipologia" class="input-dropdown-1" id="type">
                        <option value="presenza">In Presenza</option>
                        <option value="online">Online</option>
                    </select>
                </div>
                <div class="div-textbox">
                    <label  class="label1">Breve descrizione   (max 300 caratteri)</label><br>
                    <textarea class="input-label-2" rows="5" name="description" maxlength="300" required="yes"></textarea><br>
                </div>
                
            </div>
            <div class="divider"></div>
            <div class="column">
                <label  class="label1">Giorni di lezione</label><br>
                <div class="div-checkbox">
                    <label class="container-settimana">
                        <input type="checkbox" id="Check1" onclick="server.showOrHide('lun')">
                        <span class="checkmarksettimana">Lun</span>
                    </label>
                    <label class="container-settimana">
                        <input type="checkbox" id="Check1" onclick="server.showOrHide('mar')">
                        <span class="checkmarksettimana">Mar</span>
                    </label>
                    <label class="container-settimana">
                        <input type="checkbox" id="Check1" onclick="server.showOrHide('mer')">
                        <span class="checkmarksettimana">Mer</span>
                    </label>
                    <label class="container-settimana">
                        <input type="checkbox" id="Check1" onclick="server.showOrHide('gio')">
                        <span class="checkmarksettimana">Gio</span>
                    </label>
                    <label class="container-settimana">
                        <input type="checkbox" id="Check1" onclick="server.showOrHide('ven')">
                        <span class="checkmarksettimana">Ven</span>
                    </label>
                    <label class="container-settimana">
                        <input type="checkbox" id="Check1" onclick="server.showOrHide('sab')">
                        <span class="checkmarksettimana">Sab</span>
                    </label>
                </div>
                <div class="div-textbox">
                    <label  class="label1" id="firstWeek">Prima settimana</label><br>
                    <input type="week" name="firstWeek" class="dropdown-week" required="yes" min = "{{minDate}}"><br>
                </div>
                <div class="div-textbox">
                    <label  class="label1" id="lastWeek">Ultima settimana</label><br>
                    <input type="week" name="lastWeek" class="dropdown-week" required="yes" min = "{{minDate}}"><br>
                </div>
                <label  class="label2" id="timeStart">Orari</label><br>
                <label  class="label1" id="almenoUnGiorno">Selezionare almeno un giorno </label>
                <div class="div-time" id = "lun">
                    <label  class="label3" id="timeStart">Lun:</label>
                    <select name="orariolun" class="input-dropdown-2" id="orariolun">
                        <option value="" selected disabled hidden>Seleziona Orario</option>
                        <option value="8:00:00">Da:  8:00 A:  9:30</option>
                        <option value="9:30:00">Da:  9:30 A: 11:00</option>
                        <option value="11:00:00">Da: 11:00 A: 12:30</option>
                        <option value="12:30:00">Da: 12:30 A: 14:00</option>
                        <option value="14:00:00">Da: 14:00 A: 15:30</option>
                        <option value="15:30:00">Da: 15:30 A: 17:00</option>
                    </select>
                </div>
                <div class="div-time" id = "mar">
                    <label  class="label3" id="timeStart">Mar:</label>
                    <select name="orariomar" class="input-dropdown-2" id="orariomar">
                        <option value="" selected disabled hidden>Seleziona Orario</option>
                        <option value="8:00:00">Da:  8:00 A:  9:30</option>
                        <option value="9:30:00">Da:  9:30 A: 11:00</option>
                        <option value="11:00:00">Da: 11:00 A: 12:30</option>
                        <option value="12:30:00">Da: 12:30 A: 14:00</option>
                        <option value="14:00:00">Da: 14:00 A: 15:30</option>
                        <option value="15:30:00">Da: 15:30 A: 17:00</option>
                    </select>
                </div>
                <div class="div-time" id = "mer">
                    <label  class="label3" id="timeStart">Mer:</label>
                    <select name="orariomer" class="input-dropdown-2" id="orariomer">
                        <option value="" selected disabled hidden>Seleziona Orario</option>
                        <option value="8:00:00">Da:  8:00 A:  9:30</option>
                        <option value="9:30:00">Da:  9:30 A: 11:00</option>
                        <option value="11:00:00">Da: 11:00 A: 12:30</option>
                        <option value="12:30:00">Da: 12:30 A: 14:00</option>
                        <option value="14:00:00">Da: 14:00 A: 15:30</option>
                        <option value="15:30:00">Da: 15:30 A: 17:00</option>
                    </select>
                </div>
                <div class="div-time" id = "gio">
                    <label  class="label3" id="timeStart">Gio:</label>
                    <select name="orariogio" class="input-dropdown-2" id="orariogio">
                        <option value="" selected disabled hidden>Seleziona Orario</option>
                        <option value="8:00:00">Da:  8:00 A:  9:30</option>
                        <option value="9:30:00">Da:  9:30 A: 11:00</option>
                        <option value="11:00:00">Da: 11:00 A: 12:30</option>
                        <option value="12:30:00">Da: 12:30 A: 14:00</option>
                        <option value="14:00:00">Da: 14:00 A: 15:30</option>
                        <option value="15:30:00">Da: 15:30 A: 17:00</option>
                    </select>
                </div>
                <div class="div-time" id = "ven">
                    <label  class="label3" id="timeStart">Ven:</label>
                    <select name="orarioven" class="input-dropdown-2" id="orarioven">
                        <option value="" selected disabled hidden>Seleziona Orario</option>
                        <option value="8:00:00">Da:  8:00 A:  9:30</option>
                        <option value="9:30:00">Da:  9:30 A: 11:00</option>
                        <option value="11:00:00">Da: 11:00 A: 12:30</option>
                        <option value="12:30:00">Da: 12:30 A: 14:00</option>
                        <option value="14:00:00">Da: 14:00 A: 15:30</option>
                        <option value="15:30:00">Da: 15:30 A: 17:00</option>
                    </select>
                </div>
                <div class="div-time" id = "sab">
                    <label  class="label3" id="timeStart">Sab:</label>
                    <select name="orariosab" class="input-dropdown-2" id="orariosab">
                        <option value="" selected disabled hidden>Seleziona Orario</option>
                        <option value="8:00:00">Da:  8:00 A:  9:30</option>
                        <option value="9:30:00">Da:  9:30 A: 11:00</option>
                        <option value="11:00:00">Da: 11:00 A: 12:30</option>
                        <option value="12:30:00">Da: 12:30 A: 14:00</option>
                        <option value="14:00:00">Da: 14:00 A: 15:30</option>
                        <option value="15:30:00">Da: 15:30 A: 17:00</option>
                    </select>
                </div>


                <button type="submit" class="btnCrea" >Crea corso</button>
            </div>
        </form>
    </div>
{% endblock %}
