<!DOCTYPE html>
<html>
    <head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/GraficaSito.css') }}">
    </head>
    <body>
        <header>
            <div class="header-container" >
                <img src="{{url_for('static', filename='imgs/logo.png')}}" class="imgtitle" />
                <div class="btn-container">
                    <button type="button"  class="menubtn" >Men&ugrave; 1</button>
                    <button type="button"  class="menubtn" >Men&ugrave; 2</button>
                    <button type="button"  class="menubtn" >Men&ugrave; 3</button>
                    <button type="button"  class="menubtn" >Men&ugrave; 4</button>
                </div>

            </div>
        </header>

    
        
        <div class="body">
              
        
        </div>
        
    </body>
</html>
