{% extends "parents/defaultPage.html" %}

{% block titolo %}
    <title>Lista corsi</title>
{% endblock %}


{% block contenuto %}
    <h1> Lista Corsi</h1>
    <div class="div-data-calendario">
        <label  class="label1">Ricerca </label><br>
        <div style>
            <form method='POST' action='listaCorsi'>
                <input type="text"  class="calendar-day" required="yes">
                <button type="submit" class="btnResearch" onclick="" >&nbsp;</button>
            </form>
        </div>
    </div>
    <div class="divListaCorsi">
        <table class="elencoCorsi">
            <colgroup>
                <col style="width: 13%">
                <col style="width: 20%">
                <col style="width: 25%">
                <col style="width: 10%">
                <col style="width: 10%">
                <col style="width: 11%">
                <col style="width: 11%">
            </colgroup>
            <thead>
                <tr>
                    <th> Modalit&aacute; </th>
                    <th> Struttura </th>
                    <th> Titolo del progetto </th>
                    <th> Durata </th>
                    <th> Iscrizioni </th>
                    <th> Posti </th>
                    <th> Dettagli </th>
                </tr>
            </thead>
            <tbody>
                {% for corso in info %}
                <tr>
                    <td> {{ corso.modalita }} </td>
                    <td> {{ corso.struttura }} </td>
                    <td> {{ corso.nome }} </td>
                    <td> {{ corso.durata }} </td>
                    <td> {{ corso.iscrizioni }} </td>
                    <td> {{ corso.iscritti}}/{{corso.postimax }} </td>
                    <td> <form method='POST' action='infoCorso'> 
                        <button class="btnInfoCorso" name="idCorso" value={{corso.id}}>Info</button> 
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
