<!DOCTYPE html>
<html>
    <head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/GraficaLogin.css') }}">
    </head>
    <body>
        <div class="centralbodylogin">
            <img src="{{url_for('static', filename='imgs/logored.png')}}" class="imgtitle" />
            <div class="loginpanel">

                <div class= "divtitle">
                    <s3>Login</s3>
                </div>

                <form method="post" action="">
                    <div class="divtextbox">
                        <input type = "text" name = "username" placeholder="username" required class="textbox" >
                        </div>
                    <div class="divtextbox">
                        <input type = "password" name = "password" placeholder="password" required class="textbox">
                    </div>
                    <div class="divsubmit">
                        <input class="okbtn" type="submit" name = "submit" id = "sub" value="Accedi">
                    </div>
                </form>

            </div>
            <div class="divhref">
                <s4>non sei registrato?  </s4>
                <a href="register" >Registrati</a>
            </div>
        </div>
    </body>
</html>
