<!DOCTYPE html>
<html>
    <head>
		<link rel= "stylesheet" href= "{{ url_for('static',filename='styles/GraficaLogin.css') }}">
    </head>
    <body>
        <div class="centralbodyregister">
            <div class="divimg">
                <img src="{{url_for('static', filename='imgs/logored.png')}}" class="imgtitle" />
            </div>
            <div class="registerpanel">

                <div class= "divtitle">
                    <s3>Registrazione</s3>
                </div>

                <form method="post" action="/register">
                    <div class="rowreg">
                        <div class="columnreg">
                            <div class="divtextbox">
                                <input type = "text" name = "username" placeholder="username" required class="textbox" >
                            </div>
                            <div class="divtextbox">
                                <input type = "text" name = "email" placeholder="email" required class="textbox" >
                            </div>
                            <div class="divtextboxpw">
                                <input type = "password" name = "password" placeholder="password" required class="textbox">
                            </div>
                            <div class="divtextbox">
                                <input type = "password" name = "conferma" placeholder="conferma password" required class="textbox">
                            </div>

                        </div>
                        <div class="spacer">
                        </div>
                        <div class="columnreg">
                            <div class="divtextbox">
                                <input type = "text" name = "nome" placeholder="nome" required class="halftextbox" >
                                <input type = "text" name = "cognome" placeholder="cognome" required class="halftextbox" style="margin-left: 15px;" >
                            </div>
                            <div class="divtextbox">
                                <h3>Nascita:</h3>
                                <input type = "date" name = "nascita" placeholder="nascita" required class="halftextbox">
                            </div>
                            <div class="divcheck">
                                <label class="container"> Sei un docente?
                                    <input type="checkbox" name = "professore" id = "professore" onchange="server.CheckBoxProfessore()" >
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="divtextbox">
                                <input type = "text" name = "scuola" id = "scuola" placeholder="scuola di provenienza" class="textbox" required>
                            </div>
                        </div>

                      </div>
                      <div class="divsubmit">
                        <input class="okbtn" type="submit" name = "submit" id = "sub" value="Registrati">
                    </div>
                </form>

            </div>
            <div class="divhref">
                {%if result=="effettuata"%}
				<s4>Registrazione avvenuta con successo!<br><br></s4>
                {%endif%} 
                {%if result=="fallita"%}
				<s4>Registrazione fallita, Controlla i dati inseriti!<br><br></s4>
                {%endif%} 
                {%if result=="giaEsistente"%}
				<s4>Registrazione fallita, Account già esistente!<br><br></s4>
				{%endif%} 
                <s4>sei gi&agrave; registrato?  </s4>
                <a href="login" >Accedi</a>
            </div>
        </div>
    </body>
</html>
