
@font-face {
    src: url(fonts/MYRIADPRO-REGULAR.OTF);
    font-family: myriadregular
}
@font-face {
    src: url(fonts/MYRIADPRO-BOLD.OTF);
    font-family: myriadbold
}

:root {
    --color1: #f8f9fa;     /* quasi bianco */
    --color2: #ff0a54;     /* chiaro       */
    --color3: #333333;     /* grigio       */
    --color4: #7a0025;     /* scuro        */
    --color5: #ac0033;     /* normale      */
    
}


header{
    width:100%;
    background-color: var(--color5);
    margin: 0px;
    margin-bottom: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.imgtitle{
    width:fit-content;
    height: 20px;
    
    padding: 20px
}

.header-container{
    width: 1200px;
    height: 60px;
    display:flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: row;
}

.btn-container{
    display:flex;
}

.menubtn{
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ac0033;
    border: none;
    color: #f8f9fa;
    font-family: myriadregular;
    font-size: 25px;
}

.menubtn:hover {
    background-color:#7a0025;
    transition: 0.7s;
}


body{
    background-color: #f8f9fa;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.body
{
    background-color:#f8f9fa;
    width: 1200px;
    height: 2000px;
}