
@font-face {
    src: url(fonts/OpenSans/OpenSans-Regular.ttf);
    font-family: OpenSans-Regular
}
@font-face {
    src: url(fonts/OpenSans/OpenSans-Bold.ttf);
    font-family: OpenSans-Bold
}

:root {
    --color1: #f8f9fa;     /* quasi bianco */
    --color2: #ff0a54;     /* chiaro       */
    --color3: #333333;     /* grigio       */
    --color4: #7a0025;     /* scuro        */
    --color5: #ac0033;     /* normale      */
    
}

h0{
    font-size: 40px;
    padding-left: 40px;
    font-family: "OpenSans-Bold";
}
h1{
    font-size: 32px;
    padding-left: 40px;
    padding-top: 20px;
    font-family: "OpenSans-Bold";
}
h2{
    font-size: 26px;
    font-family: "OpenSans-Regular";
}
h3{
    font-size: 22px;
    font-family: "OpenSans-Regular";
}
h4{
    font-size: 20px;
    margin: 0px;
    font-family: "OpenSans-Regular";
}
header{
    width:100%;
    background-color: var(--color5);
    margin: 0px;
    margin-bottom: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.imgtitle{
    width:fit-content;
    height: 20px;
    
    padding: 20px
}

.header-container{
    width: 1200px;
    height: 56px;
    display:flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: row;
}

.btn-container{
    display:flex;
}

.menubtn{
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ac0033;
    border: none;
    color: #f8f9fa;
    font-family: OpenSans-Regular;
    font-size: 18px;
}

.menubtn:hover {
    background-color:#7a0025;
}
.menubtn:active {

    background-color:#ac0033;
}

body{
    background-color: #f8f9fa;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.body
{
    background-color:#f8f9fa;
    width: 1200px;
}

.divfiltro{
    text-align: center;
}

.filtro{
    margin-top: 20px;
    position: center;
    font-family: "OpenSans-Regular";
    font-size: 16pt;
    width:700px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    border-width: 2px;
    border-color: #333333;
    background-color: #f8f9fa;

    box-shadow: 20px 20px 20px lightgrey;
}

.divListaCorsi{

    margin-top: 60px;
}

.btnInfoCorso{
    height: 70px;
    width: 100%;
    background-color: #ac0033;
    border: none;
    border-radius: 4px;
    background: url(/static/imgs/info.png);
    background-size: 30%;
    background-position: center;
    background-position-y: 27%;
    background-repeat: no-repeat;
    background-color: #ac0033;
    color: #f8f9fa;
    font-family: OpenSans-Regular;
    font-size: 16px;
    padding-top: 35%;
}
.btnInfoCorso:hover {
    background-color:#7a0025;
}

.btnInfoCorso:active {

    background-color:#ac0033;
}

.elencoCorsi{
    width:100%;
    border-collapse: collapse;
    
}
th {
    padding: 15px;

    font-family: "OpenSans-Bold";
    text-align:left;
    border-bottom: 3px solid black;
}
td {
    vertical-align: top;
    text-align: left;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "OpenSans-Regular";
    border-bottom: 1px solid lightgray;

}

.div-form-creazione{
    padding-left: 120px;
    padding-top: 30px;
    font-family: OpenSans-Regular;
    font-size: 16px;
}

.label1{
    font-family: OpenSans-Bold;
    font-size: 18px;
    display: inline-block;
    margin: 10px;
    margin-bottom: 14px;
}
.label2{
    font-family: OpenSans-Bold;
    font-size: 18px;
    display: inline-block;
    margin: 10px;
    margin-bottom: 0px;
}
.label3{
    font-family: OpenSans-Bold;
    font-size: 18px;
    margin-top: 5px;
    display: inline-block;
    width: 70px;
    margin-left: 20px;
    text-align: center;
}

.div-textbox{
    margin-bottom: 15px;
}
.div-time{
    margin-bottom: 25px;
    margin-top: 25px;
    display: none;
    flex-direction: left;
    justify-content: left;
}

.div-num{
    margin-top: 20px;
    margin-bottom: 30px;
}

.input-label-1 {
    font-size: 16px;
    font-family: OpenSans-Regular;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border-width: 1px;
    border-color: #333333;
}
.input-label-2 {
    resize: none;
    width: 95%;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #333333;
    font-family: OpenSans-Regular;
}

.input-number-1 {
    width: 50px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #333333;
    font-family: OpenSans-Regular;
}

.input-dropdown-1{
    width: 200px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #333333;
    background-color: #ffffff;
    font-family: OpenSans-Regular;
}

.input-dropdown-2{
    width: 200px;
    font-size: 16px;
    padding: 7px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #333333;
    background-color: #ffffff;
    font-family: OpenSans-Regular;
}

.dropdown-week{
    width: 300px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #333333;
    background-color: #ffffff;
    font-family: OpenSans-Regular;
}

.dropdown-time{
    width: 80px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #333333;
    background-color: #ffffff;
    font-family: OpenSans-Regular;
}
.div-checkbox{
    display:flex;
    flex-direction: row;
}

.container-check {
    display:flex;
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 18px;
    font-family: OpenSans-Bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  .container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: solid #333333;
    border-width: 1px;
  }
  .container-check:hover input ~ .checkmark {
    background-color: #fff;
  }
  .container-check input:checked ~ .checkmark {
    background-color: #ac0033;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container-check input:checked ~ .checkmark:after {
    display: block;
  }
  .container-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.column {
    float: left;
    width: 40%;
}

.column-drop {
    float: left;
    width: 50%;
}

.divider {
    float: left;
    background-color: #ac0033;
    width: 2px;
    height: 600px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 30px;
}

.btnCrea{
    height: 60px;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #ac0033;
    border: none;
    color: #f8f9fa;
    font-family: OpenSans-Regular;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5%;
    
}

.btnCrea:hover {
    background-color:#7a0025;
    transition: 0.1s;
}

.btnCrea:active {

    background-color:#ac0033;
}

.container-settimana {
    display:flex;
    position: relative;
    padding-left: 60px;
    margin-bottom: 80px;
    cursor: pointer;
    font-size: 18px;
    font-family: OpenSans-Bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container-settimana input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmarksettimana {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background-color: #fff;
    border: solid #333333;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container-settimana:hover input ~ .checkmarksettimana {
    background-color: #fff;
}
.container-settimana input:checked ~ .checkmarksettimana {
    background-color: #ac0033;
    border-left-color: #f8f9fa;
    color: #f8f9fa;
}
.checkmarksettimana:after {
    content: "";
    position: absolute;
    display: none;
}
.container-settimana input:checked ~ .checkmarksettimana:after {
    display: block;
}


.calendar-day{
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #333333;
    background-color: #ffffff;
    font-family: OpenSans-Regular;
}

.div-giorno-selezionato{
    text-align: center;
}

.divListaLezioni{

    margin-top: 30px;
}


.btnSetDate{
    height: 50px;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #ac0033;
    border: none;
    color: #f8f9fa;
    font-family: OpenSans-Regular;
    font-size: 18px;
    margin-left: 15px;
    
}

.btnResearch{
    width: 70px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: none;
    color: #f8f9fa;
    font-family: OpenSans-Regular;
    font-size: 18px;
    margin-left: 15px;
    background: url(/static/imgs/search.png);
    background-size: 38%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ac0033;
}


.btnSetDate:hover {
    background-color:#7a0025;
    transition: 0.1s;
}

.btnSetDate:active {

    background-color:#ac0033;
}

.div-info-corso{
    padding-left: 10px;
    font-size: 16px;
    font-family: OpenSans-Regular;
}


.div-info-corso h4{
    margin-top: 20px;
    margin-left: -10px;
    margin-bottom: 5px;
}

.div-info-corso .divider{
    width: 2px;
    margin: 5%;
}

.colonna-info-corso{
    float: left;
    width: 44%;
    padding-top: 60px;
}

.btn-iscriviti{
    height: 60px;
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #ac0033;
    border: none;
    color: #f8f9fa;
    margin-top: 40px;
    font-family: OpenSans-Regular;
    font-size: 18px;
    margin-left: -10px;
}

.btn-iscriviti:hover {
    background-color:#7a0025;
}

.btn-iscriviti:active {

    background-color:#ac0033;
}


.btnLezione{
    height: 70px;
    width: 100%;
    background-color: #ac0033;
    border: none;
    border-radius: 4px;
    background-color: #ac0033;
    color: #f8f9fa;
    font-family: OpenSans-Regular;
    font-size: 18px;
}
.btnLezione:hover {
    background-color:#7a0025;
}
.btnLezione:active {

    background-color:#ac0033;
}

.btnModCorso{
    height: 70px;
    width: 100%;
    background-color: #ac0033;
    border: none;
    border-radius: 4px;
    background-color: #ac0033;
    color: #f8f9fa;
    font-family: OpenSans-Regular;
    font-size: 17px;
}
.btnModCorso:hover {
    background-color:#7a0025;
}

.btnModCorso:active {

    background-color:#ac0033;
}

.divGestione{
    display:flex;
    flex-direction: row;
}

.btnIscrizioni{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    padding-left: 62px;
}
.btnModifiche{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    padding-left: 10px;
}

.btnsGestione{
    height: 60px;
    width: 150px;
    border-radius: 5px;
    background-color: #ac0033;
    border: none;
    color: #f8f9fa;
    margin-top: 40px;
    font-family: OpenSans-Regular;
    font-size: 18px;
    margin-left: 50px;
}
.btnsGestione:hover {
    background-color:#7a0025;
}

.btnsGestione:active {

    background-color:#ac0033;
}

.divider_profilo {
    float: left;
    background-color: #ac0033;
    width: 2px;
    height: 400px;
    margin-right: 6%;
    margin-top: 35px;
}