@font-face {
    src: url(fonts/OpenSans/OpenSans-Regular.ttf);
    font-family: OpenSans-Regular
}
@font-face {
    src: url(fonts/OpenSans/OpenSans-Bold.ttf);
    font-family: OpenSans-Bold
}

/*
:root {
    --color1: #6874d0;
    --color2: #8690da;
    --color3: #3ae8e1;              // vecchi colori
    --color4: #ffffff;
    --color5: #505ec8;
}
*/
:root {
    --color1: #f8f9fa;     /* quasi bianco */
    --color2: #ff0a54;     /* chiaro       */
    --color3: #333333;     /* grigio       */
    --color4: #7a0025;     /* scuro        */
    --color5: #ac0033;     /* normale      */
    
}

.centralbodylogin{

    position: absolute;
    top:0;
    bottom: 80px;
    left: 0;
    right: 0;

    width: 480px;
    height: 349px;

    margin: auto;

}

.centralbodyregister{

    position: absolute;
    top:0;
    bottom: 150px;
    left: 0;
    right: 0;

    width: 960px;
    height: 500px;

    margin: auto;

}

h3{
    color: #f8f9fa;
    display: inline;
}

.rowreg {
    display: flex;
}

.columnreg{
    margin-top: 20px;
    flex: 49.9%;
}

.spacer{
    flex: 0.2%;
    background-color: #f8f9fa;
}

.loginpanel {
    width: 480px;
    height: 287px;
    background-color: var(--color5);

    border-radius: 20px;
    
    box-sizing: border-box;
    /*padding: 45px;*/
    
    margin: auto;

    box-shadow: 20px 20px 20px lightgrey;
}

.registerpanel {
    width: 960px;
    height: 450px;
    background-color: var(--color5);

    border-radius: 20px;
    
    box-sizing: border-box;
    /*padding: 45px;*/
    
    margin: auto;

    box-shadow: 20px 20px 20px lightgrey;
}

.divimg{
    width: 960px;
    text-align: center;
}
.imgtitle{
    width: 400px;
    height: 33.3px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 46.7px;
}

body
{
    background-color: var(--color1);
}

.divtextbox{
    text-align: center;
    padding-bottom: 20px;
}

.divtextboxpw{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.divsubmit{
    text-align: center;
    padding-top: 20px;
}

#sub{

    font-size: 22px;
    color:var(--color5);
    width: 390px;
    height: 40px;
    background-color: var(--color1);

    font-family: "OpenSans-Bold";
    border:none;
    border-radius: 20px;
}

.textbox{

    background-color: var(--color1);
    color: var(--color4);
    width: 390px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    border:none;
    text-align: center;
    border-radius: 3px;
}:disabled {background-color:grey;}
.halftextbox{

    background-color: var(--color1);
    color: var(--color4);
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    border:none;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 15.2px;
}


.divhref {
    padding-top: 20px;
    text-align: center;
}

s4{
    color: var(--color5);
    font-size: 18px;
    font-family: "OpenSans-Regular";
}

.divtitle{
    text-align: center;
    padding: 20px;
}

s3{
    color: var(--color1);
    font-size: 22px;
    font-family: "OpenSans-Bold";
}


a{
    margin: auto;
    font-size: 18px;
    color:var(--color4);
    font-weight: bold;
    font-family: "OpenSans-Bold";
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color4);
    opacity: 0.3; /* Firefox */
}

input:focus::placeholder {
    color: transparent;
}
input::-webkit-input-placeholder {
    opacity: 0.3; /*Change the opacity between 0 and 1*/
}






.container {
    color: #f8f9fa;
    font-weight: bold;
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #f8f9fa;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #f8f9fa;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #ac0033;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .divcheck{
    width: 50%;
    text-align: center;
    padding-bottom: 17.2px;
    padding-right: 37.5%;
    padding-left: 11.99%;
  }

  h3{
    font-family: "OpenSans-Bold";
    font-size: 18px;
  }

  label{
    font-family: "OpenSans-Bold";
    font-size: 18px;
  }